#title{
    background-color: #ff4c68;
    color: white;
}

body{
    font-family: 'Montserrat',sans-serif;
}

.container-fluid{
    padding: 3% 15%;
}

h1{
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    line-height: 1.5;
    font-size: 4rem;
}

/* --------------------title--------------------  */

/* Navigation Bar */

.navbar{
    padding: 0 0 4.5rem 0;
}

.navbar-brand{
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
}

.nav-item{
    padding: 0 18px;
}

.nav-link{
    font-size: 1.2rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

/* Download Buttons  */

.download-button{
    margin: 5% 3% 5% 0;
}

/* Title Image  */

.title-image{
    transform: rotate(25deg);
    width: 60%;
}

/* --------------------features--------------------  */

#features{
    text-align: center;
    padding: 7%;
}

/* Headings  */
.feature-head{
    font-size: 2rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
}

/* images  */
.feature-img{
    color: #ef8172;
    margin: 5% 0;
}

.feature-img:hover{
    color: #ff4c68;
}

/* info  */
.feature-info{
    color: #8f8f8f;
    font-size: 1.2rem;
    padding: 0 19.75%;
}

/* ----------------------Testimonials---------------  */

#testimonials{
    padding: 7% 15%;
    text-align: center;
    background-color: #ef8172;
    color: white;
}

/* Heading  */

.test-head{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 3rem;
    line-height: 1.5;
    padding: 0 10%;
}

/* Image  */

.test-image{
    width: 10%;
    border-radius: 100%;
    margin: 50px;
}


/* ----------------------Press---------------  */

#press{
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 3%;
}

/* logo image  */

.press-logo{
    width: 15%;
    margin: 10px 30px 30px;
}